.change {
}

.changePage {
  //重写.item
  .item {
    padding-left: 0.5rem;
    padding-right: 0;
    border-bottom: 1px solid #c8c7cc;
  }
  //重写.item-inner
  ion-list .item .item-inner {
    border-bottom: 0 solid #c8c7cc;
  }
  //重写ion-label
  ion-label {
    margin: 0;
    padding: 0;
    white-space: normal;
  }
  .book-content {
    margin: 0.5rem 0;
  }
}
